@using IWSProject.Content

<script type="text/javascript">
    function OnButtonClick() {
        if (ImmoGridView.IsCustomizationWindowVisible()) {

            ImmoGridView.HideCustomizationWindow();
        }
        else {
            ImmoGridView.ShowCustomizationWindow();
        }
        UpdateButtonText();
    }
    function CustomizationWindowCloseUp(s, e) {
        UpdateButtonText();
    }
    function UpdateButtonText() {
        var text = ImmoGridView.IsCustomizationWindowVisible() ? "Hide" : "Show";
        btShowCustomizationWindow.SetText(text);
    }
    function TrackLayout(layout) {
        $("#LastImmoLayout").text(layout)
    }
</script>

@{
    ViewBag.Title = IWSLocalResource.FixedAsset;
}
<div class="accountHeader">
    <h2>@ViewBag.Title</h2>
</div>
@using (Html.BeginForm("Index", "Immo"))
{

    @Html.Partial("ShowHideButtonPartialView")

    <div class="options">
        <div class="options-item">
            @Html.Partial("PerformancePartialView")
        </div>
    </div>

    @Session["DurationCust"];

    @Html.Action("ImmoGridViewPartial")

}






